<app-navbar></app-navbar>


  <!-- Hero -->
<section class="hero">
  <div class="overlay">
    <h1>Descobreix Andorra</h1>
    <button class="explore-btn">Explora rutes</button>
  </div>
</section>

<!-- Categories -->
<section class="categories">
  <h2>Categories</h2>
  <div class="cards">
    <div class="card" *ngFor="let cat of categories" (click)="goToCategory(cat.route)">
      <div class="card-image" [style.backgroundImage]="'url(' + cat.image + ')'">
        <div class="card-title">
          {{ cat.title }}
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<app-footer></app-footer>

