<app-navbar></app-navbar>
<app-filtre [camps]="filtreCamps" (filtreCanviat)="aplicarFiltre($event)"></app-filtre>

<section class="refugis">
  <h2>Refugis</h2>
  <div class="cards">
    <div class="card" *ngFor="let refugi of refugis">
      <div
        class="card-image"
        [style.backgroundImage]="'url(http://localhost:4200/img/refugis/' + refugi.imatge + ')'">
        <div class="card-title">{{ refugi.nom }}</div>
        <div class="card-overlay">
          <p><strong>Parroquia:</strong> {{ refugi.parroquies }}</p>
          <p><strong>Capacitat:</strong> {{ refugi.capacitat }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
