<app-navbar></app-navbar>
<app-filtre [camps]="filtreCamps" (filtreCanviat)="aplicarFiltre($event)"></app-filtre>

<section class="refugis">
  <div class="titol-wrapper">
    <h2 class="titol-seccio">Refugis</h2>
  </div>
  <div class="cards">
    <div class="card" *ngFor="let refugi of refugis" 
         (mouseenter)="hoveredRefugi = refugi.id_refugi" 
         (mouseleave)="hoveredRefugi = null"
         [routerLink]="['/refugis', refugi.id_refugi]"
         style="cursor: pointer"
         >

      <div class="card-image"
           [style.backgroundImage]="'url(http://localhost:4200/img/refugis/' + refugi.imatge + ')'">

        <div class="card-title">{{ refugi.nom }}</div>

        <div class="card-overlay">
          <p><strong>Parròquia:</strong> {{ refugi.parroquies }}</p>
          <p><strong>Altitud:</strong> {{ refugi.Altura  }}</p>
          <span class="badge" [ngClass]="refugi.lliure ? 'lliure' : 'guardat'">
            {{ refugi.lliure ? 'Lliure' : 'Guardat' }}
          </span>
        </div>

        <div class="card-buttons" *ngIf="hoveredRefugi === refugi.id_refugi" 
             (click)="$event.stopPropagation()">
          <button
            class="circle wishlist"
            (click)="toggleStatus(refugi.id_refugi, 'wishlist')"
            [class.active]="isActive(refugi.id_refugi, 'wishlist')">
            <img 
              [src]="isWishlisted(refugi.id_refugi) 
                      ? '/img/status/cor3.png' 
                      : '/img/status/cor_buit.png'" 
              alt="Afegir a desitjats" />
          </button>

          <button
            class="circle done"
            (click)="toggleStatus(refugi.id_refugi, 'done')"
            [class.active]="isActive(refugi.id_refugi, 'done')">
            <img src="/img/status/fet.png" alt="Afegir a fets" />
          </button>
        </div>

      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
